/* global remove user-agent styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* custom vars */
:root {
  --color-background: #282a36;
  --color-text: #f8f8f2;

  --color-primary: #36364e;
  --color-secondary: #F1972C;
  --color-secondary-hover: #FA9C2D;
  
  --color-input-background: #F8F8FC;
  --color-button-text: #FFFFFF;
  --color-hairline-in-dark: #4F4F5B;
  --color-hairline-in-light: #E1E3E5;

  --color-card-background: var(--color-primary);
  --color-card-title: #5A5A66;
  --color-card-label: #BFBFCC;
  --color-card-content: #787880;

  --color-cancel: #E1E3E5;
  --color-delete: #ee0000; 
  --color-save: #2dbe28;
  
  --color-badge-progress-text: var(--color-save);
  --color-badge-progress-background: #ffffff;
  --color-badge-done-text: var(--color-delete);
  --color-badge-done-background:#ffffff;

  --color-header-inner-title: var(--color-card-label)

  /* DRACULA COLORS */
  --background-dracula:	#282a36;
  --current-line-dracula:	#44475a;
  --selection-dracula:	#44475a;
  --foreground-dracula:	#f8f8f2;
  --comment-dracula:	#425797;
  --cyan:	#8be9fd;
  --green:	#50fa7b;
  --orange:	#ffb86c;
  --pink:	#ff79c6;
  --purple:	#bd93f9;
  --red:	#ff5555;
  --yellow:	#f1fa8c;

}

/*
Palette	Hex	RGB	HSL	Color Picker Boxes
Background	#282a36	40 42 54	231° 15% 18%	Background Color
Current Line	#44475a	68 71 90	232° 14% 31%	Current Line Color
Selection	#44475a	68 71 90	232° 14% 31%	Selection Color
Foreground	#f8f8f2	248 248 242	60° 30% 96%	Foreground Color
Comment	#6272a4	98 114 164	225° 27% 51%	Comment Color
Cyan	#8be9fd	139 233 253	191° 97% 77%	Cyan Color
Green	#50fa7b	80 250 123	135° 94% 65%	Green Color
Orange	#ffb86c	255 184 108	31° 100% 71%	Orange Color
Pink	#ff79c6	255 121 198	326° 100% 74%	Pink Color
Purple	#bd93f9	189 147 249	265° 89% 78%	Purple Color
Red	#ff5555	255 85 85	0° 100% 67%	Red Color
Yellow	#f1fa8c	241 250 140	65° 92% 76%	Yellow Color
*/

/* user-agent font-size is 16px, let's make it responsive */
@media(max-width: 1080px) {
  html {
    font-size: 93.75%; /* 15px */
  }
}

@media(max-width: 970px) {
  html {
    font-size: 87.5%; /* 14px */
  }
}

@media(max-width:700px) {
  :root {
    font-size: 75%; /* 12px */
  }
}

@media(max-width: 590px) {
  :root {
    font-size: 62.25%; /* 10px */
  }
}

/* tags styling */
body {
  background: var(--color-background);
}

body,
input,
button,
textarea {
  font: 500 1rem Inter;
  color: var(--color-text);
  border: none;
}

a {
  text-decoration: none;
}

/* basic classes */
.container {
  width: min(1440px, 90vw);
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.separator {
  height: 1px;
  background-color: var(--color-hairline-in-dark);
  margin: 1rem 0;
}

.separator.light {
  background-color: #E1E3E5;
}

.flex {
  display: flex;
}